# Ambientes virtuais
env/
venv/

# Arquivos temporários e cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.tmp
*.log

# Configurações de IDE/Editor
.vscode/
.idea/

# Arquivos de saída do projeto
*.pkl
*.json

# Sistema operacional
.DS_Store
Thumbs.db